---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import imageAvatars from "../assets/images/image-avatars.webp";
import starIcon from "../assets/images/icon-star.svg";
---

<Button />
<div class="mt-250 flex h-[62px] items-center gap-150">
  <!-- testimonials avatar -->
  <div class="h-500 w-[110px]">
    <Image src={imageAvatars} alt="Developer's avatars'" />
  </div>
  <!-- stars -->
  <div class="w-[221px] space-y-050">
    <div class="flex w-[120px]">
      {
        Array.from({ length: 5 }, (_, i) => (
          <div>
            <Image src={starIcon} alt={`Star ${i + 1}`} />
          </div>
        ))
      }
    </div>
    <p class="font-martian-mono text-preset-7 text-neutral-700">
      200+ developers joined already
    </p>
  </div>
</div>
