---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import imageAvatars from "../assets/images/image-avatars.webp";
import starIcon from "../assets/images/icon-star.svg";
---

<div class="max-w-[388px] space-y-250">
  <Button direction="down" bgColor="light" color="dark"
    >Review membership options</Button
  >
  <div class="flex h-[62px] w-full items-center gap-150">
    <!-- testimonials avatar -->
    <div class="h-500 w-[110px]">
      <Image src={imageAvatars} alt="Developer's avatars'" />
    </div>
    <!-- stars -->
    <div class="space-y-050">
      <div class="flex w-[120px]">
        {
          Array.from({ length: 5 }, (_, i) => (
            <div>
              <Image src={starIcon} alt={`Star ${i + 1}`} />
            </div>
          ))
        }
      </div>
      <p class="font-martian-mono text-preset-7 text-neutral-700">
        200+ developers joined already
      </p>
    </div>
  </div>
</div>
