---
import Button from "../components/Button.astro";
import DevReviews from "../components/DevReviews.astro";
import { Image } from "astro:assets";
import blueskyLogo from "../assets/images/logo-bluesky.svg";
import linkedinLogo from "../assets/images/logo-linkedin.svg";
---

<footer
  class="relative h-[541px] rounded-t-16 bg-neutral-900 px-200 pt-600 text-white"
>
  <!-- bg grid -->
  <div
    class="absolute inset-0 bg-[url('../assets/images/pattern-dark-bg.svg')]"
  >
  </div>
  <!-- content -->
  <div class="relative mx-auto max-w-[343px]">
    <div class="space-y-300">
      <h2 class="text-center text-preset-2-mobile lg:text-preset-2">
        Ready to debug your reading list?
      </h2>
      <Button direction="up" bgColor="none" color="light"
        >Review membership options</Button
      >
      <DevReviews color="light" />
    </div>

    <div
      class="mt-800 flex h-[103px] flex-col items-center gap-200 border-t border-neutral-100 px-400 py-300"
    >
      <span>&copy; 2024 – Tech Book Club</span>
      <div class="flex gap-300">
        <Image src={blueskyLogo} width="22" height="22" alt="Bluesky logo" />
        <Image src={linkedinLogo} width="22" height="22" alt="Bluesky logo" />
      </div>
    </div>
  </div>
</footer>
