---
import { cn } from '../utils/cn';

interface Props {
  id: string;
  width?: 'small' | 'big';
}

const { id, width = 'small' } = Astro.props;
---

<section
  {id}
  role='document'
  class={cn('mx-auto my-800 px-200 md:my-1000 md:px-0 lg:my-[120px]', {
    'max-w-[1170px]': width === 'big',
    'md:max-w-[704px] lg:max-w-[970px]': width === 'small',
  })}>
  <slot />
</section>
