---
import { cn } from '../utils/cn';

interface Props {
  id: string;
  width?: 'small' | 'big';
}

const { id, width = 'small' } = Astro.props;
---

<section
  {id}
  class={cn('px-200 mx-auto lg:my-[120px] my-800 md:my-1000', {
    'max-w-[1170px]': width === 'big',
    'max-w-[970px]': width === 'small',
  })}>
  <slot />
</section>
