---
import { Image } from 'astro:assets';
import imageAvatars from '../assets/images/image-avatars.webp';
import starIcon from '../assets/images/icon-star.svg';
import { cn } from '../utils/cn';

interface Props {
  color: 'dark' | 'light';
}

const { color } = Astro.props;
---

<div class="flex h-[62px] w-full items-center gap-150">
  <!-- testimonials avatar -->
  <div class="h-500 w-[110px]">
    <Image src={imageAvatars} alt="Developer's avatars'" />
  </div>
  <!-- stars -->
  <div class="space-y-050">
    <div class="flex w-[120px]">
      {
        Array.from({ length: 5 }, (_, i) => (
          <div>
            <Image src={starIcon} alt={`Star ${i + 1}`} />
          </div>
        ))
      }
    </div>
    <p
      class={cn(
        'font-martian-mono',
        {
          'text-neutral-700': color === 'dark',
          'text-white': color === 'light',
        },
        'text-preset-7',
      )}>
      200+ developers joined already
    </p>
  </div>
</div>
