/* You can add global styles to this file, and also import other style files */
/* Plus Jakarta Sans font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --c-lime: hsl(61, 70%, 52%);
  --c-red: hsl(4, 69%, 50%);
  --c-white: hsl(0, 0%, 100%);
  --c-slate-100: hsl(202, 86%, 94%);
  --c-slate-300: hsl(203, 41%, 72%);
  --c-slate-500: hsl(200, 26%, 54%);
  --c-slate-700: hsl(200, 24%, 40%);
  --c-slate-900: hsl(202, 55%, 16%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
  cursor: pointer;
}

input[type="radio"]:checked {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: var(--c-lime);
  /* border: 8px solid #fff; */
  border: 3px solid hsla(61, 70%, 52%, 0.2); /* More visible */

  /* to style the "bg" border color, must come after its property */
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  /* The outline will be the outer circle */
  outline: 1px solid var(--c-lime);
}
