/* You can add global styles to this file, and also import other style files */
/* Plus Jakarta Sans font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="radio"] {
    cursor: pointer;
  }

  input[type="radio"]:checked {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: theme("colors.c-lime");
    border: 3px solid theme("colors.c-lime" / 20%);

    /* to style the "bg" border color, must come after its property */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    /* The outline will be the outer circle */
    outline: 1px solid theme("colors.c-lime");
  }
}
