<main
  class="font-plus-jakarta flex items-center justify-center md:h-screen md:bg-c-slate-300"
>
  <div
    class="grid max-w-[376px] grid-cols-1 bg-c-white tracking-wide md:mt-[50px] md:max-w-[1005px] md:grid-cols-2 md:overflow-hidden md:rounded-3xl"
  >
    <div class="px-[24px] py-[31px] md:px-[38px] md:py-[40px]">
      <app-mortgage-form />
    </div>

    <div
      class="flex h-[390px] flex-col items-center gap-[17px] bg-c-slate-900 p-[32px] md:h-full md:justify-center md:rounded-es-[77px]"
    >
      <img class="size-[192px]" src="../assets/illustration-empty.svg" alt="" />
      <div class="space-y-[13px] text-center text-c-white">
        <h2 class="text-2xl tracking-wider">Results shown here</h2>
        <p class="text-c-slate-300">
          Complete the form and click “calculate repayments” to see what your
          monthly repayments would be.
        </p>
      </div>
    </div>
  </div>
</main>
