@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-VariableFont_opsz\,wght.ttf'),
      format('truetype');
  }

  @font-face {
    font-family: 'Martian Mono';
    src: url('/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf'),
      format('truetype');
  }

  body,
  p {
    font-family: theme('fontFamily.inter');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: theme('fontFamily.martian-mono');
  }
}
