<div class="space-y-[34px]">
  <div class="relative w-[328px]">
    <img
      class="size-full object-cover rounded-lg"
      src="/assets/images/image-waffle-mobile.jpg"
      alt=""
    />
    <div
      class="absolute -bottom-[0px] left-1/2 transform -translate-x-1/2 translate-y-1/2"
    >
      <app-add-to-cart />
    </div>
  </div>
  <!-- description -->
  <div>
    <small>Waffle</small>
    <h3 class="font-600 text-c-rose-900">Waffle with Berries</h3>
    <span class="font-600 text-c-red">$6.50</span>
  </div>
</div>
