* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  width: 1440px;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 16%;
  background-color: hsl(0, 0%, 100%);
  margin: 100px auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.qr-code-img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.qr-description {
  padding: 10px;
}

.title {
  display: block;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 15px;
}

.how-to {
  font-size: 11px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  margin-bottom: 5px;
}
