<!-- app container -->
<div
  class="relative mt-[120px] h-[315px] w-[343px] rounded-xl bg-c-dark-grayish-blue py-[41px] md:mt-[222px] md:h-[334px] md:w-[538px] md:py-[50px]"
>
  <!-- app content -->
  <div class="flex flex-col items-center gap-[24px] md:gap-[28px]">
    <h1
      class="font-800 text-xs uppercase tracking-[0.29em] text-c-neon-green md:space-x-[15px] md:tracking-[0.31em]"
    >
      <span>Advice</span>
      <span>#117</span>
    </h1>
    <p
      class="font-800 max-w-[314px] text-pretty text-center text-2xl text-c-light-cyan md:max-w-[443px] md:text-[1.7rem] md:leading-[2.3rem]"
    >
      "It is easy to sit up and take notice, what's difficult is getting up and
      taking action."
    </p>
    <img
      class="md:hidden"
      src="images/pattern-divider-mobile.svg"
      alt="Pattern divider mobile"
    />
    <img
      class="mt-3 hidden md:block"
      src="images/pattern-divider-desktop.svg"
      alt="Pattern divider mobile"
    />
  </div>

  <!-- generate random advice btn -->
  <button
    class="absolute bottom-0 left-1/2 flex size-[64px] -translate-x-1/2 translate-y-1/2 transform items-center justify-center rounded-full bg-c-neon-green"
  >
    <img class="" src="images/icon-dice.svg" alt="Dice icon" />
  </button>
</div>
