<div
  class="mx-auto mt-[50px] flex flex-col items-center justify-center gap-8 lg:mt-0 lg:h-full lg:max-w-[382px]"
>
  <img src="assets/images/icon-complete.svg" alt="Complete icon" class="size-20" />
  <div class="space-y-5 text-center">
    <span class="inline-block text-3xl tracking-widest text-purple-950 uppercase lg:text-4xl"
      >Thank you!</span
    >
    <span class="inline-block tracking-wide text-gray-400">We have added your card details</span>
  </div>
  <a
    href="/"
    class="mt-4 flex h-[54px] w-full cursor-pointer items-center justify-center rounded-lg bg-purple-950 font-medium text-white transition-colors duration-300 hover:bg-purple-950/80"
  >
    Continue
  </a>
</div>
