<div
  class="relative flex h-[267px] w-[327px] flex-col items-center justify-end rounded-[5px] bg-fff px-8 pb-[41px] lg:w-[350px] lg:items-start"
>
  <!-- icon -->
  <div
    class="absolute top-0 flex size-[88px] -translate-y-1/2 items-center justify-center rounded-full bg-34313d"
  >
    <img [ngSrc]="feature().iconPath" alt="Brand recognition icon" width="40" height="40" />
  </div>
  <div class="space-y-3 text-center lg:text-start">
    <h3 class="text-[22px] font-bold">{{ feature().title }}</h3>
    <p class="text-[15px] leading-[26px] font-medium text-9e9aa8">{{ feature().text }}</p>
  </div>
</div>
