<div
  class="flex h-[200px] w-[344px] flex-col justify-between rounded-2xl border border-primary-200 bg-primary-0 p-5 shadow-2xl lg:w-full"
>
  <div class="flex gap-5">
    <div class="size-[60px] shrink-0">
      <img [src]="extention().logo" alt="Logo" />
    </div>
    <div class="space-y-3">
      <h2 class="text-xl font-medium text-primary-content-0">{{ extention().name }}</h2>
      <p class="text-sm text-primary-content-300">{{ extention().description }}</p>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <button
      (click)="removeExtention(extention())"
      class="rounded-full border border-primary-300 px-6 py-2.5 text-primary-content-0"
    >
      Remove
    </button>
    <app-toggle-btn [extention]="extention()"></app-toggle-btn>
  </div>
</div>
