<main class="font-inter container mx-auto h-screen">
  <div
    class="mx-auto h-[356px] w-[327px] space-y-[82px] bg-[url('../public/images/pattern-bg.svg')] bg-contain bg-center bg-no-repeat"
  >
    <div class="relative pt-[54px]">
      <img
        class="mx-auto h-[254px] rounded-md object-contain shadow-2xl"
        src="/images/image-tanya.jpg"
        alt="Pattern bg"
      />

      <!-- button -->
      <button
        class="bg-c-white absolute bottom-0 left-1/2 inline-block w-[76px] -translate-x-1/2 translate-y-1/2 transform items-center rounded-full px-[11px] py-[13px] shadow-lg"
      >
        <div class="flex items-center justify-between">
          <img
            src="/images/icon-prev.svg"
            class="size-[14px] object-contain"
            alt="Icon Previous"
          />
          <img
            class="size-[14px] object-contain"
            src="/images/icon-next.svg"
            alt="Icon Next"
          />
        </div>
      </button>
    </div>

    <!-- text -->
    <div class="relative">
      <!-- quotes -->
      <div
        class="absolute -top-[56px] left-1/2 -translate-x-1/2 translate-y-1/2 transform"
      >
        <img
          class="size-[59px]"
          src="images/pattern-quotes.svg"
          alt="Quotes Pattern"
        />
      </div>
      <div class="flex flex-col items-center gap-[15px]">
        <p
          class="text-c-grayish-blue font-300 text-center text-lg leading-[1.50rem] tracking-[0.016em]"
        >
          “I’ve been interested in coding for a while but never taken the jump,
          until now. I couldn’t recommend this <br />
          course enough. I’m now in the job of my dreams and so excited about
          the future.”
        </p>
        <div class="text-center">
          <h1 class="text-c-dark-blue font-700">Tanya Sinclair</h1>
          <span class="text-c-grayish-blue font-500 text-sm tracking-wide"
            >UX Engineer</span
          >
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="">
    “ ” Tanya Sinclair UX Engineer “ If you want to
    lay the best foundation possible I’d recommend taking this course. The depth
    the instructors go into is incredible. I now feel so confident about starting
    up as a professional developer. ” John Tarkpor Junior Front-end Developer
  </p> -->
</main>
<app-footer />
