<!-- app container -->
<div
  class="h-[487px] w-[345px] space-y-[68px] rounded-3xl rounded-br-[95px] bg-white px-[23px] py-[44px] shadow-sm md:h-[590px] md:w-[756px] md:space-y-[43px] md:rounded-br-[176px] md:py-[52px]"
>
  <!-- age form -->
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="dateOfBirth"
    class="space-y-[42px]"
  >
    <div class="flex justify-between md:gap-6 md:pl-[24px] md:pr-[189px]">
      <!-- input day -->
      <fieldset class="relative flex flex-col gap-1 md:gap-2">
        <label
          [ngClass]="{
            'text-light-red': submitted && !isValidDate(),
          }"
          for="day"
          class="text-sm font-700 uppercase tracking-widest text-smokey-grey"
          >Day</label
        >
        <input
          id="day"
          type="number"
          formControlName="day"
          placeholder="DD"
          [ngClass]="{
            'border-light-red': submitted && !isValidDate(),
          }"
          class="h-[52px] w-[88px] rounded-md border border-light-grey px-3 text-xl font-800 md:h-[64px] md:w-[144px]"
        />
        @if (submitted && dateOfBirth.controls.day.hasError("required")) {
          <small class="max-w-[88px] italic text-light-red md:max-w-full"
            >This field is required</small
          >
        } @else if (
          submitted &&
          (dateOfBirth.controls.day.hasError("min") ||
            dateOfBirth.controls.day.hasError("max"))
        ) {
          <small class="max-w-[88px] italic text-light-red md:max-w-full"
            >Must be a valid day</small
          >
        } @else if (submitted && !isValidDate()) {
          <small class="max-w-[88px] italic text-light-red md:max-w-full"
            >Must be a valid date</small
          >
        }
      </fieldset>
      <!-- input month -->
      <fieldset class="flex flex-col gap-1 md:gap-2">
        <label
          for="month"
          class="text-sm font-700 uppercase tracking-widest text-smokey-grey"
          >Month</label
        >
        <input
          id="month"
          type="number"
          formControlName="month"
          placeholder="MM"
          class="h-[52px] w-[88px] rounded-md border border-light-grey px-3 text-xl font-800 md:h-[64px] md:w-[144px]"
        />
      </fieldset>
      <!-- input year -->
      <fieldset class="flex flex-col gap-1 md:gap-2">
        <label
          for="year"
          class="appearance-none text-sm font-700 uppercase tracking-widest text-smokey-grey"
          >Year</label
        >
        <input
          id="year"
          type="number"
          formControlName="year"
          placeholder="YYYY"
          class="h-[52px] w-[88px] rounded-md border border-light-grey px-3 text-xl font-800 md:h-[64px] md:w-[144px]"
        />
      </fieldset>
    </div>
    <!-- line w/ button -->
    <div
      class="relative !mt-16 h-[2px] w-full bg-light-grey md:mx-auto md:!mt-[42px] md:w-[656px]"
    >
      <button
        class="absolute left-1/2 top-1/2 flex size-16 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-purple transition-colors duration-300 hover:bg-off-black md:-right-[44px] md:left-auto md:size-[86px]"
      >
        <img class="size-7" src="icon-arrow.svg" alt="Arrow icon" />
      </button>
    </div>
  </form>

  <!-- display -->
  <div
    class="flex flex-col gap-1 text-[3.5rem] font-700 italic leading-none md:gap-2 md:pl-[24px] md:text-8xl md:tracking-tight"
  >
    <div class="space-x-2">
      <span class="text-purple">{{ age.years ?? "--" }}</span>
      <span>years</span>
    </div>
    <div class="space-x-2">
      <span class="text-purple">{{ age.months ?? "--" }}</span>
      <span>months</span>
    </div>
    <div class="space-x-2">
      <span class="text-purple">{{ age.days ?? "--" }}</span>
      <span>days</span>
    </div>
  </div>
</div>
