<!-- app container -->
<div
  class="h-[487px] w-[344px] space-y-[68px] rounded-3xl rounded-br-[95px] bg-white px-[26px] py-[52px] shadow-sm"
>
  <!-- age form -->
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="dateOfBirth"
    class="space-y-[64px]"
  >
    <div class="flex justify-between">
      <!-- input day -->
      <fieldset class="flex flex-col">
        <label
          for="day"
          class="text-sm font-700 uppercase tracking-widest text-smokey-grey"
          >Day</label
        >
        <input
          id="day"
          type="number"
          formControlName="day"
          class="h-[52px] w-[90px] rounded-md border border-light-grey px-4 text-xl font-800"
        />
      </fieldset>
      <!-- input month -->
      <fieldset class="flex flex-col">
        <label
          for="month"
          class="text-sm font-700 uppercase tracking-widest text-smokey-grey"
          >Month</label
        >
        <input
          id="month"
          type="number"
          formControlName="month"
          class="h-[52px] w-[90px] rounded-md border border-light-grey px-4 text-xl font-800"
        />
      </fieldset>
      <!-- input year -->
      <fieldset class="flex flex-col">
        <label
          for="year"
          class="appearance-none text-sm font-700 uppercase tracking-widest text-smokey-grey"
          >Year</label
        >
        <input
          id="year"
          type="number"
          formControlName="year"
          class="h-[52px] w-[90px] rounded-md border border-light-grey px-4 text-xl font-800"
        />
      </fieldset>
    </div>

    <!-- line w/ button -->
    <div class="relative h-[2px] w-full bg-light-grey">
      <button
        (click)="log()"
        class="absolute left-1/2 top-1/2 flex size-16 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-purple transition-colors duration-300 hover:bg-off-black md:-right-8 md:left-auto"
      >
        <img class="size-7" src="icon-arrow.svg" alt="Arrow icon" />
      </button>
    </div>
  </form>

  <!-- display -->
  <div class="flex flex-col gap-1 text-[3.4rem] font-700 italic leading-tight">
    <div class="space-x-2">
      <span class="text-purple">{{
        submittedValues.year ? submittedValues.year : "--"
      }}</span>
      <span>years</span>
    </div>
    <div class="space-x-2">
      <span class="text-purple">{{ submittedValues.month }}</span>
      <span>months</span>
    </div>
    <div class="space-x-2">
      <span class="text-purple">{{ submittedValues.day }}</span>
      <span>days</span>
    </div>
  </div>
</div>
