<!-- app container -->
<div
  class="h-[487px] w-[344px] space-y-[52px] rounded-3xl rounded-br-[95px] bg-white px-[26px] py-[52px] shadow-sm"
>
  <!-- age form -->
  <div class="h-[91px] w-full bg-light-red"></div>
  <!-- line w/ button -->
  <div class="relative h-[2px] w-full bg-light-grey">
    <button
      (click)="log()"
      class="absolute left-1/2 top-1/2 flex size-16 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-purple transition-colors duration-300 hover:bg-off-black"
    >
      <img class="size-7" src="icon-arrow.svg" alt="Arrow icon" />
    </button>
  </div>

  <!-- display -->
  <div class="mt-14 flex flex-col gap-1 text-6xl font-700 italic">
    <div class="space-x-2">
      <span class="text-purple">38</span>
      <span>years</span>
    </div>
    <div class="space-x-2">
      <span class="text-purple">3</span>
      <span>months</span>
    </div>
    <div class="space-x-2">
      <span class="text-purple">26</span>
      <span>days</span>
    </div>
  </div>
</div>
