<div class="flex justify-between border-b border-c-rose-100">
  <div class="flex flex-col gap-[6px] py-[15px]">
    <h3 class="text-sm font-600 tracking-[0.004em] text-c-rose-900">
      {{ product.name }}
    </h3>
    <div class="flex gap-[15px] text-sm">
      <span class="font-600 text-c-red">{{ product.quantity }}x</span>
      <div class="space-x-[9px]">
        <span class="text-c-rose-400"
          >&#64; ${{ product.price | number: "1.2" }}</span
        >
        <span class="font-600 text-c-rose-500"
          >${{ product.productsPrice | number: "1.2" }}</span
        >
      </div>
    </div>
  </div>
  <button (click)="removeProduct(product)">
    <img
      class="rounded-full border-2 border-c-rose-100 p-[2px] transition-colors duration-300 hover:border-c-rose-900"
      src="/assets/images/icon-remove-item.svg"
      alt="Remove items btn"
    />
  </button>
</div>
