@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  html {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-bg);
  }
}

@theme {
  --color-*: initial;
  --color-bg: #eff5ff;
  --color-border: #d6d9e6;
  --color-denim: #022959;
  --color-grey: #9699aa;
  --color-light-blue: #abbcff;
  --color-light-grey: #d6d9e6;
  --color-orange: #ffaf7e;
  --color-pink: #f9818e;
  --color-purple: #483eff;
  --color-red-errors: #ee374a;
  --color-sky-blue: #bee2fd;
  --color-very-light-grey: #f8f9ff;
  --color-white: #ffffff;
}

.heading {
  font-weight: bold;
  font-size: 32px;
}

.body-l {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.body-m {
  font-weight: 400;
  font-size: 14px;
}

.body-s {
  font-weight: 400;
  font-size: 12px;
}
