---
import Rating from "../components/Rating.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- bg decoration -->
  <section class="relative h-[1530px] font-leagueSpartan lg:h-screen">
    <div
      class="absolute left-0 top-0 -z-10 h-[232px] w-[374px] bg-[url('/src/assets/images/bg-pattern-top-mobile.svg')] bg-cover lg:h-[362px] lg:w-[584px]"
    >
    </div>
    <div
      class="absolute bottom-0 right-0 -z-10 h-[673px] w-[1085px] bg-[url('/src/assets/images/bg-pattern-bottom-mobile.svg')] bg-cover lg:bg-[url('/src/assets/images/bg-pattern-bottom-desktop.svg')]"
    >
    </div>
    <!-- content -->
    <div
      class="relative mx-auto flex max-w-[1110px] flex-col items-center justify-between gap-[39px] pt-[118px] lg:flex-row lg:gap-0"
    >
      <!-- title -->
      <div
        class="flex max-w-[327px] flex-col gap-[17px] text-center leading-[32px] text-c-veryDarkMagenta lg:max-w-[445px] lg:gap-[16px] lg:text-left"
      >
        <h1
          class="text-[40px] font-700 lg:text-[56px] lg:leading-[48px] lg:-tracking-[2px]"
        >
          10,000+ of our users love our product.
        </h1>
        <p
          class="text-[19px] font-400 leading-[25px] -tracking-[0.43px] text-c-darkGrayishMagenta lg:font-500 lg:-tracking-[0.63px]"
        >
          We only provide great products combined with excellent customer
          service. See what our satisfied customers are saying about our
          services.
        </p>
      </div>
      <!-- rating -->
      <div
        class="flex flex-col gap-[16px] lg:w-[540px] lg:[&>*:nth-child(2)]:self-center lg:[&>*:nth-child(3)]:self-end"
      >
        <Rating place="Reviews" />
        <Rating place="Guru" />
        <Rating place="BestTech" />
      </div>
    </div>
  </section>
</Layout>
