<button
  (click)="onButtonClick()"
  class="group size-5 rounded-full border border-white p-1 transition-colors duration-300 hover:bg-white"
>
  @switch (operationType) {
    @case ("decrease") {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="2"
        viewBox="0 0 10 2"
        class="fill-white group-hover:fill-c-red"
      >
        <path d="M0 .375h10v1.25H0V.375Z" />
      </svg>
    }
    @case ("increase") {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="10"
        viewBox="0 0 10 10"
        class="fill-white group-hover:fill-c-red"
      >
        <path
          d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"
        />
      </svg>
    }
  }
</button>
