<div
  class="flex h-[296px] w-full flex-col rounded-lg bg-white p-[26px] shadow-lg"
>
  <h2 class="text-2xl font-700 tracking-[0.0025em] text-c-red">
    Your Cart (0)
  </h2>
  <div class="mx-auto mt-[36px]">
    <img
      class="size-full object-contain"
      src="/assets/images/illustration-empty-cart.svg"
      alt="Empty cart illustration"
    />
  </div>
  <small
    class="mt-[16px] text-center text-sm font-600 tracking-[0.003em] text-c-rose-500"
    >Your added items will appear here</small
  >
</div>
