<!-- <div
  class="flex min-h-[296px] w-full flex-col rounded-lg bg-white p-[26px] shadow-lg"
>
  <h2 class="text-2xl font-700 tracking-[0.0025em] text-c-red">
    Your Cart ({{ totalQuantity }})
  </h2>
  <div class="mx-auto mt-[36px]">
    <img
      class="size-full object-contain"
      src="/assets/images/illustration-empty-cart.svg"
      alt="Empty cart illustration"
    />
  </div>
  <small
    class="mt-[16px] text-center text-sm font-600 tracking-[0.003em] text-c-rose-500"
    >Your added items will appear here</small
  >
</div> -->

<div
  class="flex min-h-[296px] w-full flex-col gap-[8px] rounded-lg bg-white p-[24px] shadow-lg"
>
  <h2 class="text-2xl font-700 tracking-[0.0025em] text-c-red">
    Your Cart ({{ totalQuantity }})
  </h2>
  @for (product of cartProducts; track product.id) {
    <app-cart-item
      [product]="product"
      (productRemoved)="onRemoveProduct($event)"
    />
  }
  <div class="mt-[11px] flex justify-between">
    <span class="text-sm">Order Total</span>
    <span class="text-2xl font-700 text-c-rose-900"
      >${{ totalPrice | number: "1.2" }}</span
    >
  </div>
  <!-- carbon neutral -->
  <div
    class="mt-[11px] flex h-[52px] items-center justify-center gap-[8px] rounded-lg bg-c-rose-50 text-sm"
  >
    <img
      src="/assets/images/icon-carbon-neutral.svg"
      alt="Carbon neutral delivery icon"
    />
    <p>This is a <span class="font-600">carbon neutral</span> delivery</p>
  </div>
  <!-- confirm order -->
  <button
    class="mt-[18px] h-[52px] w-full rounded-full bg-c-red font-600 text-white"
  >
    Confirm Order
  </button>
</div>
