---
import Rating from "../components/Rating.astro";
---

<div
  class="flex flex-col gap-[16px] lg:w-[540px] lg:[&>*:nth-child(2)]:self-center lg:[&>*:nth-child(3)]:self-end"
>
  <Rating place="Reviews" />
  <Rating place="Guru" />
  <Rating place="BestTech" />
</div>
