<!-- <p class="text-red-500 text-7xl font-red-hat-text"> -->
<!-- Desserts Waffle with Berries Waffle 6.50 Add to Cart Vanilla Bean Crème Brûlée
  Crème Brûlée 7.00 Add to Cart Macaron Mix of Five Macaron 8.00 Add to Cart
  Classic Tiramisu Tiramisu 5.50 Add to Cart Pistachio Baklava Baklava 4.00 Add
  to Cart Lemon Meringue Pie Pie 5.00 Add to Cart Red Velvet Cake Cake 4.50 Add
  to Cart Salted Caramel Brownie Brownie 4.50 Add to Cart Vanilla Panna Cotta
  Panna Cotta 6.50 Add to Cart Your Cart () Your added items
  will appear here -->
<!-- </p> -->
<main class="font-red-hat-text bg-c-rose-50 w-full tracking-[0.006em]">
  <!-- grid layout -->
  <div
    class="grid-cols-1 px-[22px] py-[28px] gap-[35px] bg-slate-100 grid max-w-[376px]"
  >
    <!-- card -->
    <h1 class="text-c-rose-900 font-700 text-4xl tracking-[0.075em]">
      Desserts
    </h1>
    <!-- <app-product /> -->
    <app-product-list [products]="products" />
  </div>
</main>
