<div class="flex items-center justify-center">
  <div
    class="flex h-[155px] w-[327px] flex-col rounded-[5px] bg-fff py-4 lg:h-[72px] lg:w-[1110px] lg:flex-row lg:items-center lg:justify-between lg:px-6"
  >
    <span
      class="inline-flex h-[36px] w-full items-center border-b border-b-9e9aa8 px-4 text-[16px] leading-[36px] font-medium tracking-[0.12px] lg:w-auto lg:border-0"
    >
      {{ shortenUrl().originalUrl }}</span
    >
    <div class="flex flex-col lg:flex-row">
      <span
        class="inline-flex h-[36px] items-center px-4 text-[16px] leading-[36px] font-medium tracking-[0.12px] text-2bd0d0 lg:mr-6"
      >
        {{ shortenUrl().shortenedUrl }}</span
      >
      <button
        [ngClass]="
          buttonText() === 'Copy' ? 'bg-2bd0d0 hover:bg-2bd0d0/70' : 'bg-34313d hover:bg-34313d/70'
        "
        (click)="onClick()"
        class="mx-auto h-12 w-[295px] cursor-pointer rounded-[5px] bg-2bd0d0 font-bold text-fff transition-colors duration-300 lg:mx-0 lg:h-[40px] lg:w-[103px] lg:text-[15px]"
        type="button"
      >
        {{ buttonText() }}
      </button>
    </div>
  </div>
</div>
