@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  color: var(--soft-blue);
  font-weight: 300;
  line-height: 1.5;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--white);
}

a:hover,
a:active {
  color: var(--cyan);
}
