<button
  aria-label="toggle-btn"
  type="button"
  class="relative flex size-10 cursor-pointer items-center justify-center rounded-lg bg-primary-200"
  (click)="toggleTheme()"
  [attr.aria-pressed]="currTheme() === 'dark'"
>
  <span class="sr-only">Toggle dark mode</span>

  <img
    src="/assets/images/icon-moon.svg"
    alt=""
    class="icon absolute"
    [ngClass]="currTheme() === 'light' ? 'opacity-100' : 'opacity-0'"
  />

  <img
    src="/assets/images/icon-sun.svg"
    alt=""
    class="icon absolute"
    [ngClass]="currTheme() === 'dark' ? 'opacity-100' : 'opacity-0'"
  />
</button>
