@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;

  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  /* font-size: 1.7rem; */
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 1.5;
}

/* REUSABLE */
.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.full--description {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  justify-content: center;
  text-align: center;
}
.heading-primary {
  font-size: 3.9rem;
  color: var(--dark-grayish-blue);
  font-weight: 600;
}
.header-secondary {
  color: var(--dark-grayish-blue);
}
.heading-tertiary {
  color: var(--dark-grayish-blue);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: var(--buttons-padding);
  border-radius: var(--border-radius);
}
.btn--ios:link,
.btn--ios:visited {
  background-color: var(--strong-cyan);
}
.btn--mac:link,
.btn--mac:visited {
  background-color: var(--light-blue);
}
.btn--ios:hover,
.btn--ios:active {
  background-color: var(--light-cyan);
}
.btn--mac:hover,
.btn--mac:active {
  background-color: var(--hover-blue);
}

/* .grid--3-cols {
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
} */

.two-items-container {
  display: flex;
  align-items: center;

  gap: 9.6rem;
}

.three-item-container {
  display: flex;
  justify-content: center;

  gap: 4.8rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem !important;
}
