:root {
  /* Primary colors */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  /* Neutral colors */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);

  /* Tints */
  --light-cyan: #51c8b6;
  --hover-blue: #818fff;
  --grayish-blue-light-bg: hsla(202, 11%, 66%, 0.103);

  /* General */
  --gap: 4rem;
  --buttons-padding: 1.2rem 2.4rem;
  --border-radius: 100px;
  --section-padding: 4.8rem 0;

  /* - Weights: 400, 600 */
}

/* SECTION HEADER */

.section-header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 20rem 0 4.8rem 0;
  align-items: center;
  justify-content: center;
}

/* SECTION SNIPPETS */

.section-snippets {
  padding: var(--section-padding);
}
.snippets--full,
.snippets--description {
  display: flex;
  flex-direction: column;
}

.snippets--full {
  gap: 2.4rem;
}

.snippets--description {
  gap: 0.8rem;
}

.two-items-container {
  display: flex;
  align-items: center;

  gap: 9.6rem;
}

.mac-image {
  display: block;
  width: 50%;
}

/* SECTION ACCESSIBILITY */

.section-accessibility {
  padding: var(--section-padding);
}

.ios-devices {
  display: block;
  margin: auto;
  width: 80%;
}

/* SECTION PRODUCTIVITY */
.section-productivity {
  padding: var(--section-padding);
}

/* SECTION FUTURED IN */
.section-futured-in {
  padding: var(--section-padding);
}

.logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SECTION DOWNLOAD */
.section-download {
  padding: var(--section-padding);
}

/* FOOTER */
.footer-clipboard {
  padding: var(--section-padding);
  background-color: var(--grayish-blue-light-bg);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-img {
  width: 6.4rem;
}

.footer-links:link,
.footer-links:visited {
  display: block;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.footer-links:hover,
.footer-links:active {
  color: var(--light-cyan);
}

.icons-flexbox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-icon:hover {
  color: var(--strong-cyan);
  stroke: var(--strong-cyan);
}
