<nav class="flex h-full items-center justify-between px-6 lg:hidden">
  <a href="/">
    <img ngSrc="images/logo.svg" width="120" height="32" alt="Shortly Logo" />
  </a>
  <button (click)="toggleIsOpen()" class="cursor-pointer">
    <img ngSrc="images/menu.svg" width="24" height="24" alt="Hamburger Menu" />
  </button>

  @if (isOpen()) {
    <div
      [appOutsideClick]="isOpen()"
      (outSideClick)="closeMenu()"
      class="absolute top-1/2 left-1/2 mt-24 h-[383px] w-[327px] -translate-x-1/2 space-y-[30px] rounded-[10px] bg-34313d p-10"
    >
      <ul class="flex flex-col items-center gap-[30px]">
        @for (link of links(); track $index) {
          <li class="cursor-pointer font-bold text-fff">
            <a [href]="link.href">{{ link.name }}</a>
          </li>
        }
      </ul>
      <div class="h-[1px] w-full bg-9e9aa8"></div>
      <div class="flex flex-col items-center gap-[30px]">
        <a href="/" class="cursor-pointer font-bold text-fff">Login</a>
        <a
          href="/"
          class="flex h-12 w-full cursor-pointer items-center justify-center rounded-[28px] bg-2bd0d0 font-bold text-fff transition-colors duration-300 hover:bg-2bd0d0/70"
        >
          Sign up
        </a>
      </div>
    </div>
  }
</nav>
